*
  box-sizing: border-box
  
body 
  font-family: 'Roboto', sans-serif
  font-size: 14px
  color: $text-color

img
  max-width: 100%

a 
  text-decoration: none
  outline: none
  cursor: pointer

.container 
  width: 85%
  max-width: 1140px
  margin: auto

.list 
  padding: 0
  margin: 0
  list-style: none

.section 
  padding-top: 120px

.title 
  font-family: 'Dosis', sans-serif
  font-weight: 500
  font-size: 36px
  margin: 0
  color: $dark-text-color

.subtitle 
  font-family: 'Dosis', sans-serif
  font-weight: 500

.button 
  outline: none
  cursor: pointer
  background: transparent
  border: none

.small
  &_text 
    font-size: 24px

.arrows 
  &__left, &__right 
    box-sizing: border-box
    width: 40px 
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1)

  

// HOVER ЭФФЕКТЫ 
@media (min-width: 992px)
  // HOVER эффекты блока HEADER 
  .header
    &-list 
      &__item 
        a 
          &:hover
            background-color: $light-text-color
            color: $dark-text-color
            border-radius: 17.5px
            font-weight: 500

  .hero 
    &__button 
      &:active 
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1)

  .package 
    &-card 
      &:hover
        background-color: $light-text-color
        box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1)
        .package-card
          &__price
            background: linear-gradient(to right, $gradient-color-1, $gradient-color-2)
            color: $light-text-color
            &:after
              border-color: transparent transparent $light-text-color transparent
            &:before
              border-color: transparent transparent transparent $light-text-color
          &__button
            color: $light-text-color
            background: linear-gradient(to right, $gradient-color-1, $gradient-color-2)
      &__button 
        &:active 
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1)

  .arrows 
    &__left, &__right 
      &:hover
        cursor: pointer
        background: linear-gradient(to right, $gradient-color-1, $gradient-color-2)
        color: $light-text-color
      &:active
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1)

  .download
    &-button 
      &:hover 
        cursor: pointer
        .download__icon
          i
            background: linear-gradient(to right, $gradient-color-1, $gradient-color-2)
            -webkit-background-clip: text
            -moz-background-clip: text
            background-clip: text
            -webkit-text-fill-color: transparent

  .footer
    &-social-list
      li 
        a
          &:hover 
            cursor: pointer
            color: $main-color

@media (max-width: 1300px)
  .container
    max-width: 1000px

@media (max-width: 952px)
  .section 
    padding-top: 80px

@media (max-width: 620px)
  .container
    width: 90%
  .section
    padding-top: 50px
