.feedback
  &-wrap 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__title 
    margin-bottom: 23px

  &__subtitle 
    max-width: 656px
    text-align: center
    line-height: 1.71
    margin-bottom: 80px