.package 
  &-wrap 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 120px

  &__title 
    margin-bottom: 23px
    text-align: center

  &__subtitle 
    max-width: 656px
    text-align: center
    line-height: 1.71
    margin-bottom: 80px

  &-cards 
    display: flex
    justify-content: space-between

  &-card 
    display: flex
    flex-direction: column 
    align-items: center
    width: 262px
    background-color: $background-color
    margin-right: 30px
    padding-bottom: 40px
    &:last-child
      margin-right: 0
    &__title 
      font-size: 20px
      font-weight: normal
      color: $dark-text-color
    &__price 
      font-size: 48px
      background-color: $light-text-color
      width: 100%
      text-align: center
      padding-top: 30px
      padding-bottom: 35px
      position: relative
      &:before
        content: ''
        position: absolute
        top: 81px
        left: -0.6px
        border-style: solid
        border-width: 40px 0 0 133px
        border-color: transparent transparent transparent $background-color
      &:after
        content: ''
        top: 81px
        right: -0.6px
        position: absolute
        border-style: solid
        border-width: 0 0 40px 133px
        border-color: transparent transparent $background-color transparent
    &-list 
      display: flex
      flex-direction: column
      align-items: center
      width: 80%
      padding-top: 19px
      &__item 
        border-bottom: 1px dashed $border-color
        text-align: center
        padding: 10px 0
        width: 100%
        &:last-child
          border-bottom: 0px
          margin-bottom: 40px
    &__label 
      margin-bottom: 14px
      color: $label-color
    &__button 
      padding: 12px 42px
      background-color: $light-text-color
      border-radius: 20px
      border: 1px solid $border-color
      font-weight: 500


@media (max-width: 1150px)
  .package 
    &-wrap 
      padding-bottom: 90px

    &-cards
      flex-wrap: wrap
      justify-content: space-around

    &-card 
      margin-right: 0px
      margin-bottom: 30px
      &__price 
        margin-bottom: 20px
      &-list 
        display: none


@media (max-width: 952px)
  .package 
    &-wrap 
      padding-bottom: 50px

    &__subtitle 
      margin-bottom: 50px
      
    &-card
      &__price 
        background: linear-gradient(to right, $gradient-color-1, $gradient-color-2)
        color: $light-text-color
        &:after
          border-color: transparent transparent $background-color transparent
        &:before
          border-color: transparent transparent transparent $background-color
      &__button 
        background: linear-gradient(to right, $gradient-color-1, $gradient-color-2)
        color: $light-text-color



