.support 
  color: $text-color
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__img 
    min-height: 709px
    width: 50%
    background: url(../img/support/iPhone.png) no-repeat
    background-position: 60% 60%
  &-content 
    padding: 55px 0
    width: 50%
  &__title
    margin-bottom: 23px
  &__subtitle 
    margin-bottom: 79px
    line-height: 1.71
  &__text 
    margin-bottom: 37px 
    line-height: 1.71
  &-list
    &__item
      margin-bottom: 20px
      span 
        padding-left: 20px
      i 
        color: $dark-text-color
  