.support 
  color: $text-color
  background: url(../img/support/iPhone.png) left center no-repeat
  background-size: contain
  &-wrap
    display: flex
    justify-content: flex-end
    padding-bottom: 120px
  &-content 
    padding: 55px 0
    max-width: 50%
  &__title
    margin-bottom: 23px
  &__subtitle 
    margin-bottom: 79px
    line-height: 1.71
  &__text 
    margin-bottom: 37px 
    line-height: 1.71
  &-list
    &__item
      margin-bottom: 20px
      span 
        padding-left: 20px
      i 
        color: $dark-text-color
  